node_modules
vendor
.env
.env.backup
.git
.github
.idea
.vscode
.claude
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
public/build
bootstrap/cache/*.php
docker-compose.yml
*.md
tests
phpunit.xml
